<form action="/add" method="post">
<p>Título</p>
<input type="text" name="titulo" id="">
<p>Conteúdo</p>
<textarea type="text" name="conteudo" id=""></textarea> <br>
<button type="submit"> Cadastrar postagem </button>
</form>